# MongoDB connection string
# Local:  mongodb://localhost:27017/countryreport
# Atlas:  mongodb+srv://<user>:<password>@cluster0.xxxxx.mongodb.net/countryreport
MONGODB_URI=mongodb://localhost:27017/countryreport
